@model IEnumerable<AdSetIntegrador.Data.Entities.Vehicle>
@using AdSetIntegrador.Data.Entities

@{
    var vehiclesTotal = Model.Count();
    var vehiclesWithPhotos = Model.Where(m => m.Images.Count() > 0).Count();
    var vehiclesWithoutPhotos = vehiclesTotal - vehiclesWithPhotos;
}

@Html.Partial("_ConfirmationModal")

<div style="display: flex; flex: 1; width: 100%; background: #E7E7E7;">
    <div class="">
        <div class="border-bottom-header information" style="">

            <div class="information-data" style="margin-left: 20px;">
                <span class="information-line1">@vehiclesTotal veículos</span>
                <span class="information-total">Total</span>
            </div>

            <div><img src="images/diagonal-line.png"/></div>

            <div class="information-data">
                <span class="information-line1">@vehiclesWithPhotos.ToString() veículos</span>
                <span class="information-with-images">com fotos</span>
            </div>

            <div><img src="images/diagonal-line.png"/></div>

            <div class="information-data">
                <span class="information-line1">@vehiclesWithoutPhotos veículos</span>
                <span class="information-without-images">sem fotos</span>
            </div>

            <div><img src="images/vertical-line.png"/></div>

            <div class="information-data">
                <span class="information-excel">Exportar Estoque</span>
                <span>
                    <a class="" asp-area="" asp-controller="Vehicle" asp-action="Index">
                        <img src="~/images/btn-excel.png" />
                    </a>
                </span>
            </div>

            <div><img src="images/vertical-line.png"/></div>

            <div>
                <a class="navbar-brand" asp-controller="Vehicle" asp-action="Create">
                    <img src="~/images/btn-add.png" title="Cadastrar veículo"/>
                </a>
            </div>

            <div style="margin-left: auto; margin-top: 5px; margin-bottom: 5px;">
                <a asp-controller="Vehicle" asp-action="Index">
                    <img src="~/images/btn-salvar.png" />
                </a>
            </div>

        </div>

        <div class="filter-div" style="margin-left: 5px;">

            <div class="information-data" style="margin-right: 10px;">
                <label class="filter-label" for="Plate">Placa</label>
                <input class="filter-input" type="text" id="filter-plate">
            </div>

            <div class="information-data" style="margin-right: 10px;">
                <label class="filter-label" for="Brand">Marca</label>
                <input class="filter-input" type="text" id="filter-brand">
            </div>

            <div class="information-data" style="margin-right: 10px;">
                <label class="filter-label" for="Model">Modelo</label>
                <input class="filter-input" type="text" id="filter-model">
            </div>

            <div class="information-data">
                <label class="filter-label" for="Year">Ano Min</label>
                <select class="filter-dropdown" id="filter-year-min">
                    <option value="">Todos</option>
                    @for (int year = 2000; year <= 2024; year++)
                    {
                        <option value="@year">@year</option>
                    }
                </select>
            </div>

            <div class="information-data" style="margin-right: 10px;">
                <label class="filter-label" for="Year">Ano Max</label>
                <select class="filter-dropdown" id="filter-year-max">
                    <option value="">Todos</option>
                    @for (int year = 2000; year <= 2024; year++)
                    {
                        <option value="@year">@year</option>
                    }
                </select>
            </div>

            <div class="information-data" style="margin-right: 10px;">
                <label class="filter-label" for="Price">Preço</label>
                <select class="filter-dropdown" id="filter-price">
                    <option value="">Todos</option>
                    <option value="1">10mil a 50mil</option>
                    <option value="2">50mil a 90mil</option>
                    <option value="3">+90mil</option>
                </select>
            </div>

            <div class="information-data" style="margin-right: 10px;">
                <label class="filter-label" for="Images">Fotos</label>
                <select class="filter-dropdown" id="filter-photos">
                    <option value="">Todos</option>
                    <option value="WithPhotos">Com Fotos</option>
                    <option value="WithoutPhotos">Sem Fotos</option>
                </select>
            </div>

            <div class="information-data" style="margin-right: 10px;">
                <label class="filter-label" for="OptionalFeature">Opcionais</label>
                <select class="filter-dropdown" id="filter-optional">
                    <option value="">Todos</option>
                    @foreach (var optional in ViewBag.OptionalFeatures as List<OptionalFeature>)
                    {
                        <option value="@optional.Id">@optional.Name</option>
                    }
                </select>
            </div>

            <div class="information-data" style="margin-right: 10px;">
                <label class="filter-label" for="Color">Cor</label>
                <select class="filter-dropdown" id="filter-color">
                    <option value="">Todos</option>
                    @foreach (var color in Model.Select(m => m.Color).Distinct().ToList())
                    {
                        <option value="@color">@color</option>
                    }
                </select>
            </div>

            <div>
                <a asp-area="" asp-controller="Vehicle" asp-action="Index">
                    <img src="~/images/undo.png" />
                </a>
            </div>

            <button id="filterButton" class="image-button">
                <img src="~/images/btn-search.png">
            </button>

        </div>

        <br />

        <div style="margin-top: 20px;">
            <div class="table-head">
                <div>
                    <img src="~/images/unsort.png" style="cursor: pointer;" />
                </div>

                <div class="table-head-text">Marca / Modelo <img src="images/btn-sort.png" /></div>
                <div><img src="images/vertical-line2.png" /></div>

                <div class="table-head-text">Ano <img src="images/btn-sort.png" /></div>
                <div><img src="images/vertical-line2.png" /></div>

                <div class="table-head-text">Preço <img src="images/btn-sort.png" /></div>
                <div><img src="images/vertical-line2.png" /></div>

                <div class="table-head-text">Fotos <img src="images/btn-sort.png" /></div>
                <div><img src="images/vertical-line2.png" /></div>

                <div style="margin-left: 204px;">
                    <select class="table-head-dropdown" id="filter-show">
                        <option value="10">Exibir 10</option>
                        <option value="25">Exibir 25</option>
                        <option value="50">Exibir 50</option>
                        <option value="100">Exibir 100</option>
                    </select>
                </div>

                <div class="table-head-div">
                    <img src="images/icarros.png" title="iCarros"/>
                </div>
                <div class="table-head-div">
                    <img src="images/webmotors.png" title="WebMotors"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @if (vehiclesTotal > 0)
    {
        @foreach (var vehicle in Model)
        {
            <div id="vehicle-div"
                data-plate="@vehicle.Plate"
                data-brand="@vehicle.Brand"
                data-model="@vehicle.Model"
                data-year="@vehicle.Year"
                data-price="@vehicle.Price"
                data-photos="@(vehicle.Images.Count > 0)"
                data-color="@vehicle.Color"
                data-optionalfeatures="@string.Join(",", vehicle.VehicleOptionalFeatures.Select(of => of.Id))"
            >
                <div style="display: flex; align-items: center;">

                    <div class="rectangle">
                        <a href="#" class="delete-link" data-vehicle-id="@vehicle.Id">
                            <img src="~/images/trash.png" title="Excluir"/>
                        </a>
                    </div>

                    @if (vehicle.Images.Count > 0)
                    {
                        <div>
                            <img src="photos/@vehicle.Images.Select(v => v.ImageName).First()" class="vehicle-photo" />
                        </div>
                    }
                    else
                    {
                        <div>
                            <img src="photos/cardraw.png" class="vehicle-photo" />
                        </div>
                    }

                    <div class="vehicle-item" >
                        <div style="flex-direction: column;">
                            <div class="vehicle-info-brand vehicle-info-title">
                                @vehicle.Brand @vehicle.Model | @vehicle.Year
                            </div>

                            <div>
                                <p class="vehicle-info-text">Placa -<span class="vehicle-info-text" style="color: #40A52B;">@vehicle.Plate</span></p>
                                <p class="vehicle-info-text">Km -<span class="vehicle-info-text" style="color: #40A52B;">@vehicle.Mileage</span></p>
                                <p class="vehicle-info-text">Cor -<span class="vehicle-info-text" style="color: #40A52B;">@vehicle.Color</span></p>
                            </div>
                        </div>

                        <div class="vehicle-info-right">
                            <div class="vehicle-price vehicle-price-text">R$ @vehicle.Price</div>
                            <div class="additional-info">
                                <div class="vehicle-edit">
                                    <a asp-controller="Vehicle" asp-action="Edit" asp-route-id="@vehicle.Id">
                                        <img src="~/images/edit.png" title="Editar veículo"/>
                                    </a>
                                </div>
                                <div style="margin-left: 5px; flex-direction: column;">
                                    <div>
                                        <img src="~/images/camera.png" title="Fotos" />
                                    </div>
                                    <div>
                                        @vehicle.Images.Count()
                                    </div>
                                </div>
                                <div style="margin-left: 5px; flex-direction: column;">
                                    <div>
                                        <img src="~/images/car-opt.png" title="Opcionais" />
                                    </div>
                                    <div>
                                        @vehicle.VehicleOptionalFeatures.Count()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="integration" style="margin-left: 9px;">
                        <small class="text-integration">Diamante Feirão</small>
                        <div class="checkbox-group-idx">
                            <input type="checkbox" class="radio" name="@vehicle.Id"/>
                            <label class="text-integration" style="margin-bottom: 0; color: red;">010</label>&nbsp;
                            <label class="text-integration" style="margin-bottom: 0;">-</label>&nbsp;
                            <label class="text-integration" style="margin-bottom: 0; color: #40A52B;">008</label>
                        </div>

                        <small class="text-integration">Diamante</small>
                        <div class="checkbox-group-idx">
                            <input type="checkbox" class="radio" name="@vehicle.Id" />
                            <label class="text-integration" style="margin-bottom: 0; color: red;">030</label>&nbsp;
                            <label class="text-integration" style="margin-bottom: 0;">-</label>&nbsp;
                            <label class="text-integration" style="margin-bottom: 0; color: #40A52B;">025</label>
                        </div>

                        <small class="text-integration">Platinum</small>
                        <div class="checkbox-group-idx">
                            <input type="checkbox" class="radio" name="@vehicle.Id" />
                            <label class="text-integration" style="margin-bottom: 0; color: red;">040</label>&nbsp;
                            <label class="text-integration" style="margin-bottom: 0;">-</label>&nbsp;
                            <label class="text-integration" style="margin-bottom: 0; color: #40A52B;">010</label>
                        </div>
                    </div>

                    <div><img src="images/vertical-line3.png" /></div>

                    <div class="integration">
                        <small class="text-integration">Básico</small>
                        <div class="checkbox-group-idx">
                            <input type="checkbox" />
                            <label class="text-integration" style="margin-bottom: 0; color: red;">030</label>&nbsp;
                            <label class="text-integration" style="margin-bottom: 0;">-</label>&nbsp;
                            <label class="text-integration" style="margin-bottom: 0; color: #40A52B;">025</label>
                        </div>
                    </div>

                    <div><img src="images/vertical-line3.png" /></div>
                </div>
                <hr class="dotted-hr" />
            </div>
        }
    }
    else
    {
        <div>
            Nenhum veículo cadastrado.
        </div>
    }
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $("input:checkbox").on('click', function () {
        var $box = $(this);
        if ($box.is(":checked")) {
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });

    document.getElementById('filterButton').addEventListener('click', function () {
        const plate = document.getElementById('filter-plate').value.toLowerCase();
        const brand = document.getElementById('filter-brand').value.toLowerCase();
        const model = document.getElementById('filter-model').value.toLowerCase();
        const yearMin = document.getElementById('filter-year-min').value;
        const yearMax = document.getElementById('filter-year-max').value;
        const priceRange = document.getElementById('filter-price').value;
        const color = document.getElementById('filter-color').value.toLowerCase();
        const photosFilter = document.getElementById('filter-photos').value;
        const optionalFeaturesSelected = Array.from(document.getElementById('filter-optional').selectedOptions).map(option => option.value);

        document.querySelectorAll('#vehicle-div').forEach(vehicle => {
            const vehiclePlate = vehicle.getAttribute('data-plate').toLowerCase();
            const vehicleBrand = vehicle.getAttribute('data-brand').toLowerCase();
            const vehicleModel = vehicle.getAttribute('data-model').toLowerCase();
            const vehicleYear = parseInt(vehicle.getAttribute('data-year'));
            const vehiclePrice = parseFloat(vehicle.getAttribute('data-price'));
            const vehicleColor = vehicle.getAttribute('data-color').toLowerCase();
            const vehicleHasPhotos = vehicle.getAttribute('data-photos') === 'True';
            const vehicleOptionalFeatures = vehicle.getAttribute('data-optionalfeatures').split(',');

            let matchesFilters = true;

            if (plate && !vehiclePlate.includes(plate)) {
                matchesFilters = false;
            }

            if (brand && !vehicleBrand.includes(brand)) {
                matchesFilters = false;
            }

            if (model && !vehicleModel.includes(model)) {
                matchesFilters = false;
            }

            if (yearMin && vehicleYear < parseInt(yearMin)) {
                matchesFilters = false;
            }

            if (yearMax && vehicleYear > parseInt(yearMax)) {
                matchesFilters = false;
            }

            if (priceRange) {
                if (priceRange === '1' && (vehiclePrice < 10000 || vehiclePrice > 50000)) {
                    matchesFilters = false;
                } else if (priceRange === '2' && (vehiclePrice < 50000 || vehiclePrice > 90000)) {
                    matchesFilters = false;
                } else if (priceRange === '3' && vehiclePrice < 90000) {
                    matchesFilters = false;
                }
            }

            if (color && !vehicleColor.includes(color)) {
                matchesFilters = false;
            }

            if (photosFilter) {
                if (photosFilter === 'WithPhotos' && !vehicleHasPhotos) {
                    matchesFilters = false;
                } else if (photosFilter === 'WithoutPhotos' && vehicleHasPhotos) {
                    matchesFilters = false;
                }
            }

            //TODO: FILTRO DE OPCIONAIS

            vehicle.style.display = matchesFilters ? '' : 'none';
        });
    });
</script>