@model IEnumerable<AdSetIntegrador.Data.Entities.Vehicle>
@using AdSetIntegrador.Data.Entities

@{
    var vehiclesTotal = Model.Count();
    var vehiclesWithPhotos = Model.Where(m => m.Images.Count() > 0).Count();
    var vehiclesWithoutPhotos = vehiclesTotal - vehiclesWithPhotos;
}

@Html.Partial("_ConfirmationModal")

<div style="display: flex; flex: 1; width: 100%; background: #E7E7E7;">
    <div class="">
        <div class="border-bottom-header information" style="">

            <div class="information-data" style="margin-left: 20px;">
                <span class="information-line1">@vehiclesTotal veículos</span>
                <span class="information-total">Total</span>
            </div>

            <div><img src="images/diagonal-line.png"/></div>

            <div class="information-data">
                <span class="information-line1">@vehiclesWithPhotos.ToString() veículos</span>
                <span class="information-with-images">com fotos</span>
            </div>

            <div><img src="images/diagonal-line.png"/></div>

            <div class="information-data">
                <span class="information-line1">@vehiclesWithoutPhotos veículos</span>
                <span class="information-without-images">sem fotos</span>
            </div>

            <div><img src="images/vertical-line.png"/></div>

            <div class="information-data">
                <span class="information-excel">Exportar Estoque</span>
                <span>
                    <a class="" asp-area="" asp-controller="Vehicle" asp-action="ExportToExcel">
                        <img src="~/images/btn-excel.png" />
                    </a>
                </span>
            </div>

            <div><img src="images/vertical-line.png"/></div>

            <div>
                <a class="navbar-brand" asp-controller="Vehicle" asp-action="Create">
                    <img src="~/images/btn-add.png" title="Cadastrar veículo"/>
                </a>
            </div>

            <div style="margin-left: auto; margin-top: 5px; margin-bottom: 5px;">
                <a asp-controller="Vehicle" asp-action="Index">
                    <img src="~/images/btn-salvar.png" />
                </a>
            </div>

        </div>

        <div class="filter-div" style="margin-left: 5px;">

            <div class="information-data" style="margin-right: 10px;">
                <label class="filter-label" for="Plate">Placa</label>
                <input class="filter-input" type="text" id="filter-plate">
            </div>

            <div class="information-data" style="margin-right: 10px;">
                <label class="filter-label" for="Brand">Marca</label>
                <input class="filter-input" type="text" id="filter-brand">
            </div>

            <div class="information-data" style="margin-right: 10px;">
                <label class="filter-label" for="Model">Modelo</label>
                <input class="filter-input" type="text" id="filter-model">
            </div>

            <div class="information-data">
                <label class="filter-label" for="filter-year-min">Ano Min</label>
                <select class="filter-dropdown" id="filter-year-min">
                    <option value="">Todos</option>
                    @for (int year = 2000; year <= 2024; year++)
                    {
                        <option value="@year">@year</option>
                    }
                </select>
            </div>

            <div class="information-data" style="margin-right: 10px;">
                <label class="filter-label" for="filter-year-max">Ano Max</label>
                <select class="filter-dropdown" id="filter-year-max">
                    <option value="">Todos</option>
                    @for (int year = 2000; year <= 2024; year++)
                    {
                        <option value="@year">@year</option>
                    }
                </select>
            </div>

            <div class="information-data" style="margin-right: 10px;">
                <label class="filter-label" for="Price">Preço</label>
                <select class="filter-dropdown" id="filter-price">
                    <option value="">Todos</option>
                    @foreach (var range in ViewBag.PriceRanges)
                    {
                        <option value="@range.Value">@range.Text</option>
                    }
                </select>
            </div>

            <div class="information-data" style="margin-right: 10px;">
                <label class="filter-label" for="Images">Fotos</label>
                <select class="filter-dropdown" id="filter-photos">
                    <option value="">Todos</option>
                    @foreach (var range in ViewBag.PhotoOptions)
                    {
                        <option value="@range.Value">@range.Text</option>
                    }
                </select>
            </div>

            <div class="information-data" style="margin-right: 10px;">
                <label class="filter-label" for="OptionalFeature">Opcionais</label>
                <select class="filter-dropdown" id="filter-optional">
                    <option value="">Todos</option>
                    @foreach (var optional in ViewBag.OptionalFeatures as List<OptionalFeature>)
                    {
                        <option value="@optional.Id">@optional.Name</option>
                    }
                </select>
            </div>

            <div class="information-data" style="margin-right: 10px;">
                <label class="filter-label" for="Color">Cor</label>
                <select class="filter-dropdown" id="filter-color">
                    <option value="">Todos</option>
                    @foreach (var color in Model.Select(m => m.Color).Distinct().ToList())
                    {
                        <option value="@color">@color</option>
                    }
                </select>
            </div>

            <div>
                <a asp-area="" asp-controller="Vehicle" asp-action="Index">
                    <img src="~/images/undo.png" />
                </a>
            </div>

            <button id="filterButton" class="image-button">
                <img src="~/images/btn-search.png">
            </button>

        </div>

        <br />

        <div style="margin-top: 20px;">
            <div class="table-head">
                <div>
                    <img src="~/images/unsort.png" style="cursor: pointer;" />
                </div>

                <div class="table-head-text">Marca / Modelo <img src="images/btn-sort.png" /></div>
                <div><img src="images/vertical-line2.png" /></div>

                <div class="table-head-text">Ano <img src="images/btn-sort.png" /></div>
                <div><img src="images/vertical-line2.png" /></div>

                <div class="table-head-text">Preço <img src="images/btn-sort.png" /></div>
                <div><img src="images/vertical-line2.png" /></div>

                <div class="table-head-text">Fotos <img src="images/btn-sort.png" /></div>
                <div><img src="images/vertical-line2.png" /></div>

                <div style="margin-left: 204px;">
                    <select class="table-head-dropdown" id="filter-show">
                        <option value="10">Exibir 10</option>
                        <option value="25">Exibir 25</option>
                        <option value="50">Exibir 50</option>
                        <option value="100">Exibir 100</option>
                    </select>
                </div>

                <div class="table-head-div">
                    <img src="images/icarros.png" title="iCarros"/>
                    <img class="table-head-img" src="images/idk.png" />
                </div>
                <div class="table-head-div">
                    <img src="images/webmotors.png" title="WebMotors"/>
                    <img class="table-head-img" src="images/idk.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="list-vehicles">
    @if (Model.Any())
    {
        @Html.Partial("List", Model)
    }
    else
    {
        <div>
            Nenhum veículo cadastrado.
        </div>
    }
</div>
<div id="pagination">
    <button id="prev-page"><</button>
    <div id="page-numbers"></div>
    <button id="next-page">></button>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    let vehicles, currentPage, itemsPerPage, totalPages;
    const vehiclesContainer = document.getElementById('list-vehicles');
    const itemsPerPageDropdown = document.getElementById('filter-show');
    const pagination = document.getElementById('pagination');
    const prevPageButton = document.getElementById('prev-page');
    const nextPageButton = document.getElementById('next-page');
    const pageNumbersContainer = document.getElementById('page-numbers');

    document.getElementById('filter-year-min').addEventListener('change', validateYears);
    document.getElementById('filter-year-max').addEventListener('change', validateYears);
    document.addEventListener('DOMContentLoaded', initializePagination);

    $(document).ready(function () {
        $('#filterButton').on('click', function () {
            var plate = $('#filter-plate').val();
            var brand = $('#filter-brand').val();
            var model = $('#filter-model').val();
            var yearMin = $('#filter-year-min').val();
            var yearMax = $('#filter-year-max').val();
            var price = $('#filter-price').val();
            var photos = $('#filter-photos').val();
            var optional = $('#filter-optional').val();
            var color = $('#filter-color').val();

            $.ajax({
                url: '@Url.Action("GetFilteredVehicles", "Vehicle")',
                type: 'GET',
                data: {
                    Plate: plate,
                    Brand: brand,
                    Model: model,
                    YearMin: yearMin,
                    YearMax: yearMax,
                    PriceRange: price,
                    Photos: photos,
                    Optional: optional,
                    Color: color
                },
                success: function (response) {
                    $('#list-vehicles').html(response);
                    initializePagination();
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });

    $("input:checkbox").on('click', function () {
        var $box = $(this);
        if ($box.is(":checked")) {
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });

    function validateYears() {
        const minYear = parseInt(document.getElementById('filter-year-min').value, 10);
        const maxYear = parseInt(document.getElementById('filter-year-max').value, 10);

        if (!isNaN(minYear) && !isNaN(maxYear) && minYear > maxYear) {
            alert('O Ano Min não pode ser maior do que o Ano Max.');
            document.getElementById('filter-year-min').value = '';
        }
    }

    function initializePagination() {
        vehicles = Array.from(vehiclesContainer.children);
        currentPage = 1;
        itemsPerPage = parseInt(itemsPerPageDropdown.value);
        totalPages = Math.ceil(vehicles.length / itemsPerPage);

        itemsPerPageDropdown.addEventListener('change', changeItemsPerPage);
        prevPageButton.addEventListener('click', prevPage);
        nextPageButton.addEventListener('click', nextPage);

        updatePage();
    }

    function changeItemsPerPage() {
        itemsPerPage = parseInt(itemsPerPageDropdown.value);
        totalPages = Math.ceil(vehicles.length / itemsPerPage);
        currentPage = 1;
        updatePage();
    }

    function prevPage() {
        if (currentPage > 1) {
            currentPage--;
            updatePage();
        }
    }

    function nextPage() {
        if (currentPage < totalPages) {
            currentPage++;
            updatePage();
        }
    }

    function updatePage() {
        vehicles.forEach((vehicle, index) => {
            vehicle.style.display = (index >= (currentPage - 1) * itemsPerPage && index < currentPage * itemsPerPage) ? 'block' : 'none';
        });

        updatePaginationControls();
    }

    function updatePaginationControls() {
        pageNumbersContainer.innerHTML = '';
        for (let i = 1; i <= totalPages; i++) {
            const pageNumber = document.createElement('span');
            pageNumber.textContent = i;
            pageNumber.className = 'page-number';
            pageNumber.style.cursor = 'pointer';
            if (i === currentPage) {
                pageNumber.style.fontWeight = 'bold';
            }
            pageNumber.addEventListener('click', () => {
                currentPage = i;
                updatePage();
            });
            pageNumbersContainer.appendChild(pageNumber);
        }

        prevPageButton.disabled = currentPage === 1;
        nextPageButton.disabled = currentPage === totalPages;
    }
</script>